<form name='form1' action="controllerForm" method="POST">
    <input type="hidden" name="id" id="id" placeholder="Id:">
    <input type="text" name="name" id="name" placeholder="Nome:">
    <input type="text" name="email" id="email" placeholder="Email: ">
    {{!-- <input type="date" name="dtaNascimento" id="dtaNascimento" placeholder="Data de Nascimento: "> --}}
    <input type="text" name="sexo" id="sexo" placeholder="Sexo: ">
    <input type="submit" name="btnSubmit" id="btnSubmit" placeholder="Add">
</form>