<h1>Clientes</h1>
<table>
    <tr>
        <td>Nome</td>
        <td>Sexo</td>
        <td>E-mail</td>
    </tr>

    {{#clientes}}
    <tr>
        <td>{{name}}</td>
        <td>{{sexo}}</td>
        <td>{{email}}</td>
    </tr>
    {{/clientes}}

</table>